KEYCLOAK_URL=http://localhost:8080
KC_REALM=master
KC_CLIENT_ID=idb-proxy
KC_CLIENT_SECRET=
KC_NEW_CLIENT_ID=data-agent
# 订制Mapper插件名称，命名规则：script-<打入jar包的js脚本文件名>
KC_SCRIPT_MAPPER=script-data-agent-mapper.js
DEFAULT_IDP_ALIAS=da-saml-idp
DEFAULT_TENANT_ADMIN_ROLE=tenant-admin
DEFAULT_TENANT_ADMIN_NAME=tenant-admin
# OPA (Open Policy Agent)服务地址
OPA_BASE_URL=http://pep-proxy.opa.svc.cluster.local:8000
